{% extends 'base.html' %}
{% block title %}Actividades completadas{% endblock title %}


{% block content %}

<a href='{% url "Solaire:CreateActivities" %}' class='action-container create-container'>
    <i class='bx bx-folder-plus'></i>Nueva actividad</a>

    {% if activities %}
    <table class='activities-table'>
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Descripción</th>
                <th>Estado</th>
                <th>Responsable</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for activity in activities %}
            <tr>
                <td>{{ activity.id }}</td>
                <td>{{ activity.title }}</td>
                <td>{{ activity.description }}</td>
                <td>
                    {% if activity.status %}
                        <span class='table-element status-completed'>Completada</span>
                    {% else %}
                        <span class='table-element status-pending'>Pendiente</span>
                    {% endif %}
                </td>
                <td>{{ activity.user.username }}</td>
                <td class='table-buttons-main'>
                    <a href='{% url "Solaire:UpdateActivities" activity.id %}'
                        class='table-element update-container button-table-element'>Actualizar</a>
                    <a href='{% url "Solaire:DeleteActivities" activity.id %}'
                        class='table-element delete-container button-table-element'>Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
    <p class='null-text'>No hay actividades completadas en este momento.</p>
    {% endif %}

{% endblock content %}
