{% extends 'base.html' %}
{% block title %}Eliminar actividad{% endblock title %}


{% block content %}
<div class='main-delete'>
    {% if activity %}
        <p class='lead-text'>¿Está seguro de querer eliminar esta actividad? Esta acción no puedo deshacerse.</p>
                
        <form method='post' class='delete-form'>{% csrf_token %}
            <button type='submit'>Eliminar</button>
            <a href="{% url 'Solaire:ListActivities' %}">Cancelar</a>
        </form>
    {% else %}
       <a href="{% url 'Solaire:ListActivities' %}" class='delete-form'>Regresar</a>
    {% endif %}
</div>

{% endblock %}
