{% load static %}

<!DOCTYPE html>
<html lang="es" />

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}{% endblock title %} | Ed Rubio</title>

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet' />
    <link rel='stylesheet' href='{% static "main.css" %} ' />
    {% block stylesheet %}{% endblock stylesheet %}
</head>


<body>
    <header>
        <h4>Examen II</h4>

        <nav>
            <ul>
                <li><a href='{% url "Solaire:ListActivities" %}'>Actividades</a></li>
                <li><a href='{% url "Solaire:ListPending" %}'>Actividades pendientes</a></li>
                <li><a href='{% url "Solaire:ListCompleted" %}'>Actividades resueltas</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock content %}
    </main>
</body>

</html>