
/* -------------------------------------------------------------------------- */

main {
    max-width: 60%;
}

/* -------------------------------------------------------------------------- */

.main-form {
    display: flex; flex-direction: column;
}

.form-label {
    margin-bottom: .5rem;
    color: var(--color-light);
    text-transform: uppercase;
    font-weight: bold; font-size: .95rem;
}

.required {
    color: var(--color-danger);
    margin-left: .25rem;
}

/* -------------------------------------------------------------------------- */

.form-select {
    appearance: none;
    cursor: pointer;
}

.form-select option {
    background-color: var(--color-light);
    color: var(--color-dark);
    padding: .75rem 1.25rem;
    font-size: small;
}

.form-area {
    resize: vertical;
    min-height: 6rem;
}

.form-select, .form-char, .form-area {
    width: 100%; padding: .8rem 0;
    font-size: 1rem;

    color: var(--color-light);
    background-color: transparent;
    border: transparent;
    border-bottom: .025rem solid var(--color-info);
    transition: all .3 ease;
}

.form-select:focus, .form-char:focus, .form-area:focus {
    border-color: var(--color-success);
    outline: none;
}

.form-boolean {
    cursor: pointer;
    margin-right: .75rem;
    vertical-align: middle;
    width: 1.25rem; height: 1.25rem;
    border: .125rem solid var(--color-info);
    background-color: transparent;
    transition: all .3s ease;
}

.form-boolean:checked {
    background-color: var(--color-success);
    border-color: var(--color-success);
}

.form-boolean:focus {
    border-color: var(--color-success);
    outline: none;
}

/* -------------------------------------------------------------------------- */

.form-help-text {
    display: flex;
    margin-top: .25rem;
    margin-bottom: 1.5rem;
    color: var(--color-info);
    font-size: .8rem; font-style: italic;
}

.form-actions {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem; margin-top: 2rem;
}

.form-actions button, .form-actions a {
    flex-grow: 1; padding: 1rem 1.5rem;
    font-size: .9rem; font-weight: bold;
    text-align: center; cursor: pointer;
    transition: all .3s ease; text-decoration: none;
    display: flex; flex-direction: row; gap: .75rem;
    align-items: center; justify-content: center;
}

.form-actions button {
    opacity: 80%;
    text-transform: uppercase;
    background-color: var(--color-success);
    color: var(--color-dark);
    border: none;
}

.form-actions button:hover {
    opacity: 100%;
}

.form-actions a {
    background-color: transparent;
    border: .0125rem solid var(--color-alert);
    color: var(--color-light);
}

.form-actions a:hover {
    background-color: var(--color-alert);
    color: var(--color-dark);
    text-decoration: none;
}

/* -------------------------------------------------------------------------- */

.form-actions i {
    font-size: 1rem;
}

/* -------------------------------------------------------------------------- */
